#main_body {
	padding : 10px;
	padding-top : 20px;
}

h2 {
	font-size: 24pt;
	text-align: center;
}

h3 {
	font-size: 14pt;
	text-align: center;
}

.event {
	font-size: 20pt;
	color: #EB7F00;
	text-align: left;
}
