body {
  background-color: #fff;
  position: relative;
}
section {
  padding-top: 60px;
}
#header {
  padding: 45px 0;
}
#footer {
  margin-top: 80px;
}
a.menu img {
  vertical-align: middle;
}
#list .row {
  padding: 20px 0px;
  margin: 5px 0px;
}
#list .row img {
  vertical-align: top;
}
