body {
  background-color: #fff;
  position: relative;
}
section {
  padding-top: 60px;
}
#header {
  padding: 45px 0;
}
#footer {
  margin-top: 80px;
}
#navbar .hidden {
  display: none;
}
a.menu img {
  vertical-align: middle;
}
#add {
  margin-top: 60px;
}
#notification {
}
#notification .placement .alert-message {
  min-height: 64px;
}
#notification .placement .alert-message img {
  float: right;
}
#list .row {
  padding: 20px 0px;
  margin: 5px 0px;
}
#list .row img {
  vertical-align: top;
}
#list .share {
}
#list .delete {
  display: none;
}
#list .comment-container .banner {
  background-color: #FAFAFA;
  border-bottom: 1px solid #E3E3E3;
  padding: 8px;
  cursor: pointer;
}
#list .comment-container .banner:hover {
  background-color: #F4F4F4;
}
#list .comment-container .button {
  background-image: url(/img/collapse.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
  float: right;
  height: 7px;
  width: 8px;
  padding-top: 5px;
}
#list .comment-container .expand {
  background-image: url(/img/expand.png);
}
div.more {
  border-top: 1px solid #E3E3E3;
  display: block;
  text-align: center;
  padding: 10px 0;
}
div.more-button {
  background-color: #FAFAFA;
  border-bottom: 1px solid #E3E3E3;
  cursor: pointer;
}
div.more-button:hover {
  background-color: #F4F4F4;
}
div.more-throbber {
  background-image: url(/img/throbber.gif);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  height: 32px;
}
div.more-empty {
  font-size: 150%;
  display: none;
}
#achievements img {
  float: right;
}
#confirmation {
  top: 100%;
}
