body {
  background-color: #fff;
  position: relative;
  padding-top: 60px;
}
body.register {
  padding-top: 20px;
}
.header .title {
  padding-top: 50px;
}
.introduction section {
  margin-top: 40px;
}
#footer {
  margin-top: 80px;
}
#navbar h3 a {
  padding-top: 10px;
}
#navbar .hidden {
  display: none;
}
#navbar .login div {
  padding: 10px 10px 11px;
  line-height: 19px;
}
#navbar .login a {
  /* This is to make fb:login-button to render properly. */
  display: inline-block;
  float: none;
  padding: 0;
  line-height: 14px;
}
a.menu img {
  vertical-align: middle;
}
.logo {
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 192px;
}
.logo:hover {
  background-image: url(/img/logo-hover.png);
}
#add form {
  padding-top: 50px;
}
#add input[name=title] {
  width: 220px;
}
#notification {
}
#notification .placement .alert-message {
  min-height: 64px;
}
#notification .placement .alert-message img {
  float: right;
}
#list .row {
  padding: 20px 0px;
  margin: 5px 0px;
}
#list .share {
  margin-left: 0.5em;
}
#list .delete {
  display: none;
  margin-left: 0.5em;
}
#list .like {
  margin-top: 1em;
}
#list .comment-container .banner {
  background-color: #FAFAFA;
  border-bottom: 1px solid #E3E3E3;
  padding: 8px;
  cursor: pointer;
}
#list .comment-container .banner:hover {
  background-color: #F4F4F4;
}
#list .comment-container .button {
  background-image: url(/img/collapse.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
  float: right;
  height: 7px;
  width: 8px;
  padding-top: 5px;
}
#list .comment-container .expand {
  background-image: url(/img/expand.png);
}
div.more {
  border-top: 1px solid #E3E3E3;
  display: block;
  text-align: center;
  padding: 10px 0;
}
div.more-button {
  background-color: #FAFAFA;
  border-bottom: 1px solid #E3E3E3;
  cursor: pointer;
}
div.more-button:hover {
  background-color: #F4F4F4;
}
div.more-throbber {
  background-image: url(/img/throbber.gif);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  height: 32px;
}
div.more-empty {
  font-size: 150%;
  display: none;
}
div.badge {
  text-align: center;
}
img.badge {
  width: 64px;
  height: 64px;
  -moz-border-radius: 64px;
  -webkit-border-radius: 32px;
}
img.badge.large {
  width: 128px;
  height: 128px;
  -moz-border-radius: 128px;
  -webkit-border-radius: 64px;
}
#profile img, #achievements img {
  float: right;
}
#confirmation {
  top: 100%;
}
#object fb\:comments, #achievement fb\:comments {
  margin-top: 1em;
}
#object .share, #achievement .share {
  margin-left: 0.5em;
}
