{% extends "base-menu.html" %}

{% block title %}{{ title }} - 中秋烤肉{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block og-title %}{{ title }}{% endblock %}
{% block og-description %}{{ description }}{% endblock %}
{% block og-type %}activity{% endblock %}
{% block og-url %}{{ absolute_url }}{% endblock %}
{% block og-image %}{{ icon_absolute_url }}{% endblock %}

{% block body-class %}achievement{% endblock %}

{% block content %}
    <div class="container">

      <section id="achievement">
        <div class="row well">
          <div class="span3 columns badge">
            <img class="badge large" alt="成就圖示" src="{{ icon_url }}">
          </div>
          <div class="span10 columns">
            <h2 class="title">{{ title }}</h2>
            <p class="description">{{ description }}</p>
            <abbr class="timeago" title="{{ created.iso8601 }}">{{ created.localized }}</abbr>由 <a class="owner" href="{{ owner.relative_url }}">{{ owner.name }}</a> 達成
            <a class="share" href="#" title="分享至 Facebook">分享</a>
            <fb:like href="{{ absolute_url }}" send="false" width="580" show_faces="true" action="like"></fb:like>
            <fb:comments href="{{ absolute_url }}" width="580"></fb:comments>
          </div>
        </div>
      </section>

    </div>
{% endblock %}
