{% extends "base.html" %}

{% block base-content %}
    <div id="navbar" class="topbar">
      <div class="fill">
        <div class="container">
          <h3>
            <a href="/">中秋烤肉</a>
          </h3>
          <ul class="primary-nav">
            <li class="home"><a href="/">首頁</a></li>
            <li class="objects"><a href="/objects">所有物品</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li class="menu {% if not profile %}hidden{% endif %}">
              <a href="#" class="menu">
                <img alt="使用者圖示" src="{{ profile.picture }}" width="20" height="20">
                <span>{{ profile.name }}</span>
              </a>
              <ul class="menu-dropdown" style="display: none;">
                <li class="profile"><a href="{{ profile.relative_url }}">個人帳戶</a></li>
                <li><a href="#" class="logout">登出</a></li>
              </ul>
            </li>
            <li class="login {% if profile %}hidden{% endif %}">
              <div>
                <fb:login-button show-faces="false" width="200" max-rows="1"></fb:login-button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

{% block content %}
{% endblock content %}

{% endblock base-content %}
