<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>中秋烤肉</title>
    <meta name="description" content="推薦中秋烤肉的食材。">
    <meta name="author" content="Ron Huang">

    <meta property="fb:admins" content="581056929">
    <meta property="fb:app_id" content="271148119565356">

    <meta property="og:title" content="中秋烤肉">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://midautumn.ronhuang.org/">
    <meta property="og:image" content="http://midautumn.ronhuang.org/img/open-graph-image.png">
    <meta property="og:site_name" content="中秋烤肉">
    <meta property="og:description" content="推薦中秋烤肉的食材。">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/jquery.timeago.js"></script>
    <script src="js/application.js"></script>

    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div id="fb-root"></div>

    <div id="navbar" class="topbar">
      <div class="fill">
        <div class="container">
          <h3>
            <a href="/">中秋烤肉</a>
          </h3>
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="{{ profile_url }}" class="profile">Profile</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li class="menu">
              <a href="#" class="menu">
                <img alt="使用者圖示" src="{{ profile_picture }}" width="20" height="20">
                <span>{{ profile_name }}</span>
              </a>
              <ul class="menu-dropdown" style="display: none;">
                <li><a href="#">Secondary link</a></li>
                <li><a href="#" class="logout">登出</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" id="add">
      <div class="row">
        <div class="span16 columns">
          <form action="/api/object" class="form-stacked" method="post">
            <fieldset>
              <legend>想吃什麼？</legend>
              <div class="clearfix">
                <div class="input">
                  <input class="xlarge" name="title" size="30" type="text">
                  <input name="owner" value="{{ profile_id }}" type="hidden">
                  <input name="timestamp" value="0" type="hidden">
                  <button type="submit" class="btn primary disabled">送出</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div class="container" id="notification">
      <div class="row">
        <div class="span9 columns offset1">
          <div class="placement"></div>
        </div>
      </div>
    </div>

    <div class="container">

      <section id="list-template" style="display: none;">
        <div class="row">
          <div class="span2 columns offset1">
            <img alt="推薦者圖示" src="img/blank.jpg" width="64" height="64">
          </div>
          <div class="span7 columns">
            <h2 class="title"></h2>
            <a class="timeago" href="#" title="2008-07-17T09:24:17Z"></a>
            <span class="timestamp" style="display: none;"></span>
            <div class="share"></div>
            <div class="comment-container">
              <div class="banner">
                <span class="button collapse"></span>
                <div class="count"><span></span> 個註解</div>
              </div>
              <div class="comment" style="display: none;"></div>
            </div>
          </div>
        </div>
      </section>

      <section id="list">
        {% for obj in objects %}
        <div class="row">
          <div class="span2 columns offset1">
            <img alt="推薦者圖示" src="{{ obj.owner_picture }}" width="64" height="64">
          </div>
          <div class="span7 columns">
            <h2 class="title">{{ obj.title }}</h2>
            <a class="timeago" href="{{ obj.relative_url }}" title="{{ obj.pubtime_iso8601 }}">{{ obj.pubtime_local }}</a>
            <span class="timestamp" style="display: none;">{{ obj.timestamp }}</span>
            <div class="share">
              <fb:like href="{{ obj.absolute_url }}" send="false" layout="button_count" width="200" show_faces="false" action="like"></fb:like>
            </div>
            <div class="comment-container">
              <div class="banner">
                <span class="button collapse"></span>
                <div class="count"><fb:comments-count href="{{ obj.absolute_url }}">0</fb:comments-count> 個註解</div>
              </div>
              <div class="comment" style="display: none;"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>

      <!-- store cursor -->
      <span class="cursor" style="display: none;">{{ cursor }}</span>

      <div class="row" id="next-action">
        <div class="span9 columns offset1">
          <div class="more more-button" title="讀取更多...">更多</div>
          <div class="more more-throbber"></div>
          <div class="more more-empty">❦</div>
        </div>
      </div>

    </div>

    <div id="footer">
      <div class="inner">
        <div class="container">
          <p>
            Designed and built by <a href="http://twitter.com/ronhuang" target="_blank">@ronhuang</a>.<br />
            Licensed under the <a href="https://github.com/ronhuang/adieu/blob/master/LICENSE" target="_blank">MIT License</a>.
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
