{% extends "base-menu.html" %}

{% block body-class %}home{% endblock %}

{% block content %}
    <div class="container" id="add">
      <div class="row">
        <div class="span9 columns offset1">
          <form action="/api/object" class="form-stacked" method="post">
            <fieldset>
              <legend>想吃什麼？</legend>
              <div class="clearfix">
                <div class="input">
                  <input class="xlarge" name="title" size="30" type="text">
                  <input name="owner" value="{{ profile_id }}" type="hidden">
                  <input name="timestamp" value="0" type="hidden">
                  <button type="submit" class="btn primary disabled">送出</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div class="container" id="notification">
      <div class="row">
        <div class="span9 columns offset1 placement">
        </div>
      </div>
    </div>

    <div class="container">

      <section id="list-template" style="display: none;">
        <div class="row">
          <div class="span2 columns offset1">
            <img alt="推薦者圖示" src="img/blank.jpg" width="64" height="64">
          </div>
          <div class="span7 columns">
            <h2 class="title"></h2>
            <a class="timeago" href="#" title="2008-07-17T09:24:17Z"></a>
            <span class="timestamp" style="display: none;"></span>
            <div class="share"></div>
            <div class="comment-container">
              <div class="banner">
                <span class="button collapse"></span>
                <div class="count"><span></span> 個註解</div>
              </div>
              <div class="comment" style="display: none;"></div>
            </div>
          </div>
        </div>
      </section>

      <section id="list">
        {% for obj in objects %}
        <div class="row">
          <div class="span2 columns offset1">
            <img alt="推薦者圖示" src="{{ obj.owner_picture }}" width="64" height="64">
          </div>
          <div class="span7 columns">
            <h2 class="title">{{ obj.title }}</h2>
            <a class="timeago" href="{{ obj.relative_url }}" title="{{ obj.pubtime_iso8601 }}">{{ obj.pubtime_local }}</a>
            <span class="timestamp" style="display: none;">{{ obj.timestamp }}</span>
            <div class="share">
              <fb:like href="{{ obj.absolute_url }}" send="false" layout="button_count" width="200" show_faces="false" action="like"></fb:like>
            </div>
            <div class="comment-container">
              <div class="banner">
                <span class="button collapse"></span>
                <div class="count"><fb:comments-count href="{{ obj.absolute_url }}">0</fb:comments-count> 個註解</div>
              </div>
              <div class="comment" style="display: none;"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>

      <!-- store cursor -->
      <span class="cursor" style="display: none;">{{ cursor }}</span>

      <div class="row" id="next-action">
        <div class="span9 columns offset1">
          <div class="more more-button" title="讀取更多...">更多</div>
          <div class="more more-throbber"></div>
          <div class="more more-empty">❦</div>
        </div>
      </div>

    </div>
{% endblock %}
