{% extends "base-menu.html" %}

{% block content %}
    <div class="container">

      <section id="object">
        <div class="row">
          <div class="span2 columns offset1">
            <img alt="推薦者圖示" src="{{ owner_picture }}" width="64" height="64">
          </div>
          <div class="span7 columns">
            <h2 class="title">{{ title }}</h2>
            <abbr class="timeago" title="{{ pubtime_iso8601 }}">{{ pubtime_local }}</abbr>
            <fb:comments num_posts="5" width="620"></fb:comments>
          </div>
        </div>
      </section>

    </div>
{% endblock %}
