{% extends "base-menu.html" %}

{% block title %}{{ title }} - 中秋烤肉{% endblock %}
{% block description %}{{ title }}在中秋烤肉上的資料。{% endblock %}
{% block og-title %}{{ title }} - 中秋烤肉{% endblock %}
{% block og-description %}{{ title }}在中秋烤肉上的資料。{% endblock %}
{% block og-type %}product{% endblock %}
{% block og-url %}{{ absolute_url }}{% endblock %}
{% block og-image %}{{ owner_picture }}{% endblock %}

{% block body-class %}object{% endblock %}

{% block content %}
    <div class="container">

      <section id="object">
        <div class="row well">
          <div class="span3 columns badge">
            <img class="badge large" alt="推薦者圖示" src="{{ owner_picture }}">
          </div>
          <div class="span10 columns">
            <h2 class="title">{{ title }}</h2>
            <abbr class="timeago" title="{{ pubtime.iso8601 }}">{{ pubtime.localized }}</abbr>送出。
            <a class="share" href="#" title="分享至 Facebook">分享</a>
            <fb:comments num_posts="5" width="580"></fb:comments>
          </div>
        </div>
      </section>

    </div>
{% endblock %}
