{% extends "base-menu.html" %}

{% block title %}{{ profile_name }} - 中秋烤肉{% endblock %}
{% block description %}{{ profile_name }}在中秋烤肉上的資料。{% endblock %}
{% block og-title %}{{ profile_name }} - 中秋烤肉{% endblock %}
{% block og-description %}{{ profile_name }}在中秋烤肉上的資料。{% endblock %}
{% block og-type %}profile{% endblock %}
{% block og-url %}{{ profile_absolute_url }}{% endblock %}
{% block og-image %}{{ profile_picture }}{% endblock %}

{% block body-class %}profile{% endblock %}

{% block content %}
    <div class="container">

      <section id="recommendations">
        <div class="row">
          <div class="page-header">
            <h1>推薦的東西<small>按照推薦時間排序</small></h1>
          </div>
        </div>
        {% for obj in objects %}
        {% if forloop.counter0|divisibleby:3 %}
        <div class="row">
        {% endif %}
          <div class="span4 columns well">
            <h4>{{ obj.title }}</h4>
            <a class="timeago" href="{{ obj.relative_url }}" title="{{ obj.pubtime_iso8601 }}">{{ obj.pubtime_local }}</a>
            <div>有 {{ obj.like_count }} 個讚和 {{ obj.comment_count }} 個留言。</div>
          </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        {% endif %}
        {% endfor %}
      </section>

      <section id="achievements">
        <div class="row">
          <div class="page-header">
            <h1>成就<small>按照得到成就的時間排序</small></h1>
          </div>
        </div>
        {% for achi in achievements %}
        {% if forloop.counter0|divisibleby:3 %}
        <div class="row">
        {% endif %}
          <div class="span4 columns well">
            <img alt="成就圖示" src="{{ achi.icon }}" width="64" height="64">
            <h4>{{ achi.title }}</h4>
            <a class="timeago" href="{{ achi.relative_url }}" title="{{ achi.created_iso8601 }}">{{ achi.created_local }}</a>
          </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        {% endif %}
        {% endfor %}
      </section>

      <section id="others">
        <div class="row">
          <div class="page-header">
            <h1>其他<small>不重要的統計</small></h1>
          </div>
        </div>
        <div class="row">
          <div class="span4 columns well">
            <h4>讚了 {{ liked_count }} 個東西</h4>
          </div>
          <div class="span4 columns well">
            <h4>給過 {{ liked_created_count }} 個讚</h4>
          </div>
          <div class="span4 columns well">
            <h4>取消過 {{ liked_removed_count }} 個讚</h4>
          </div>
        </div>
        <div class="row">
          <div class="span4 columns well">
            <h4>給了 {{ comment_count }} 個留言</h4>
          </div>
        </div>
      </section>

    </div>
{% endblock %}
