{% extends "base-simple.html" %}

{% block page_script %}/js/register.js{% endblock %}

{% block body-class %}register{% endblock %}

{% block content %}
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="span4 columns logo"></div>
          <div class="span7 columns title">
            <h1>中秋烤肉</h1>
            <p class="lead">推薦中秋烤肉需要的物品。</p>
          </div>
        </div>
      </div> <!-- /container -->
    </div>

    <div class="introduction">
      <div class="container">

        <section id="about">
          <div class="page-header">
            <h1>關於</h1>
          </div>
          <div class="row">
            <div class="span7 columns">
              <h3>中秋烤肉</h3>
              <p>
                又到了久違的中秋烤肉萬家香的季節，所以要邀請各位來烤肉。
                跟往年一樣，歡迎攜帶女伴一起參加唷。男伴就不用勉強了。
                至於材料的準備，應該是在當天晚上一起來我家附近的全聯或是頂好超市採購吧。
              </p>
              <p>請大家抽空來參加。</p>
            </div>
            <div class="span7 columns offset1">
              <h3>這個網站</h3>
              <p>
                跟以往一樣，又一個新的網站供各位推薦中秋烤肉的物品。
                今年仍是架在 Google App Engine 上，後端是用 Python 寫的，
                前端是 HTML + JavaScript + CSS 。
                不過今年的網站與 Facebook 整合較多。
              </p>
              <p>特別一提的是，本網站的標誌是由我<a href="http://grace.hng.tw/">老婆</a>設計的。</p>
            </div>
          </div>
        </section>

        <section id="login">
          <div class="page-header">
            <h1>加入中秋烤肉</h1>
          </div>
          <div class="row">
            <div class="span4 columns">
              <h3>使用 Facebook 登入</h3>
              <fb:login-button show-faces="true" width="450" max-rows="3"></fb:login-button>
            </div>
            <div class="span7 columns">
              <h3>你的朋友怎麼說</h3>
              <fb:activity width="350" height="400" header="true" recommendations="false"></fb:activity>
            </div>
            <div class="span5 columns">
              <h3>給我一個讚</h3>
              <fb:like send="true" width="280" show_faces="true" action="like" font=""></fb:like>
            </div>
          </div>
        </section>
      </div>
    </div>
{% endblock %}
