{% extends "base-simple.html" %}

{% block page_script %}/js/register.js{% endblock %}

{% block body-class %}register{% endblock %}

{% block content %}
    <div id="header">
      <div class="container">
        <h1>中秋烤肉</h1>
        <p class="lead">
          推薦中秋烤肉的食材。
        </p>
      </div> <!-- /container -->
    </div>

    <div class="container">

      <section id="about">
        <div class="page-header">
          <h1>關於</h1>
        </div>
        <div class="row">
          <div class="span8 columns">
            <h3>中秋烤肉</h3>
            <p>[TODO]: 中秋烤肉</p>
          </div>
          <div class="span8 columns">
            <h3>這個網站</h3>
            <p>[TODO]: 這個網站</p>
          </div>
        </div>
      </section>

      <section id="login">
        <div class="page-header">
          <h1>加入中秋烤肉</h1>
        </div>
        <div class="row">
          <div class="span8 columns">
            <h3>使用 Facebook 加入</h3>
            <fb:login-button show-faces="true" width="450" max-rows="3"></fb:login-button>
          </div>
          <div class="span8 columns">
            <h3>給我一個讚</h3>
            <fb:like send="true" width="450" show_faces="true" action="like" font=""></fb:like>
          </div>
        </div>
        <div class="container">
        </div>
      </section>

    </div>
{% endblock %}
