<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>中秋烤肉</title>
    <meta name="description" content="推薦中秋烤肉的食材。">
    <meta name="author" content="Ron Huang">

    <meta property="fb:admins" content="581056929">
    <meta property="fb:app_id" content="271148119565356">

    <meta property="og:title" content="中秋烤肉">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://midautumn.ronhuang.org/">
    <meta property="og:image" content="http://midautumn.ronhuang.org/img/open-graph-image.png">
    <meta property="og:site_name" content="中秋烤肉">
    <meta property="og:description" content="推薦中秋烤肉的食材。">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/jquery.timeago.js"></script>
    <script src="js/register.js"></script>

    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div id="fb-root"></div>

    <div id="header">
      <div class="container">
        <h1>中秋烤肉</h1>
        <p class="lead">
          推薦中秋烤肉的食材。
        </p>
      </div> <!-- /container -->
    </div>

    <div class="container">

      <section id="about">
        <div class="page-header">
          <h1>關於</h1>
        </div>
        <div class="row">
          <div class="span8 columns">
            <h3>中秋烤肉</h3>
            <p>[TODO]: 中秋烤肉</p>
          </div>
          <div class="span8 columns">
            <h3>這個網站</h3>
            <p>[TODO]: 這個網站</p>
          </div>
        </div>
      </section>

      <section id="login">
        <div class="page-header">
          <h1>加入中秋烤肉</h1>
        </div>
        <div class="row">
          <div class="span8 columns">
            <h3>使用 Facebook 加入</h3>
            <fb:login-button show-faces="true" width="450" max-rows="3"></fb:login-button>
          </div>
          <div class="span8 columns">
            <h3>給我一個讚</h3>
            <fb:like send="true" width="450" show_faces="true" action="like" font=""></fb:like>
          </div>
        </div>
        <div class="container">
        </div>
      </section>

    </div>

    <div id="footer">
      <div class="inner">
        <div class="container">
          <p>
            Designed and built by <a href="http://twitter.com/ronhuang" target="_blank">@ronhuang</a>.<br />
            Licensed under the <a href="https://github.com/ronhuang/adieu/blob/master/LICENSE" target="_blank">MIT License</a>.
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
